html
  head
    title= title
    link(rel="stylesheet", href="/styles/global.css")
    
  body
    h1= message
    marquee= message
    h2= genre
    img(src="/images/pug.jpeg", width="300")
    h3 VAMOS RAFAEL
