body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

body > * {
  padding: 0 1rem;
}

header {
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  color: white;
}

nav ul {
  display: flex;
}

nav a,
button {
  padding: 0.2rem 0.5rem;
  color: white;
  text-transform: capitalize;
  border: 0;
  background-color: #222;
  cursor: pointer;
}

nav a:hover,
nav a.active {
  color: tomato;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  text-transform: capitalize;
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px dotted gray;
  margin-bottom: 0.5rem;
}

main p {
  padding: 0.5rem 0;
}

form ol {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
form label,
form input,
form textarea {
  display: block;
  width: 50%;
}
